body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

div {
		
}

h1 {
	color: #0056ad;
	font-size: 30px;
}

h2 {
	color: gray;
	font-size: 20px;
}

a{
	color: #165ca3;
	text-decoration: underline;	
}

a:hover{
	text-decoration: none;
}

#border{
	width: 800px;
	margin: 0 auto;
}

#header {
	background: #EEE;
	border-bottom: 1px #DDD solid;
	padding: .2em 1em;
}

#logo{
	width: 800px;
	margin: 0 auto;
}

#footer {
	background: #EEE;
	border-top: 1px #DDD solid;
	padding: .2em 1em;
	margin-top: 20px;
}

#footercontent{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.left{
	float: left;
	width: 45%;
}

.right{
	float: left;
	width: 55%;
}

.clear{
	clear: both;
}